EXPO_PUBLIC_LESSON_API_BASE_URL=http://127.0.0.1:3001
EXPO_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com

# Real deposit flow config
EXPO_PUBLIC_LOCK_VAULT_PROGRAM_ID=
EXPO_PUBLIC_YIELD_SPLITTER_PROGRAM_ID=
EXPO_PUBLIC_COMMUNITY_POT_PROGRAM_ID=
EXPO_PUBLIC_LOCK_VAULT_USDC_MINT=
EXPO_PUBLIC_LOCK_VAULT_SKR_MINT=
DEPLOYER_PRIVATE_KEY=
